<section class="post-author">
  <figure class="post-author-avatar">
    <img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" />
  </figure>

  <div class="post-author-bio">
    <h2>About Garrett</h2>
    <p>Jason Zimdars joined Basecamp in 2009 as a UI designer. Most recently he worked on Basecamp for iPhone and iPad. He <a href="http://www.inc.com/magazine/201306/jason-fried/letting-go-is-hard-but-best.html">thinks about Basecamp</a> constantly.</p>
    <p>Read all of <a href="/writers/jz">Jason Z.’s posts</a>, and <a href="https://twitter.com/jasonzimdars">follow Jason Z. on Twitter</a>.</p>
  </div>
</section>

<footer class="footer">


  <section class="footer-copyright">
    <p>
      Meet <a href="/writers/">the writers</a> of <a href="https://signalvnoise.com/">Signal v. Noise</a>.
      If you like what you’re reading, check out <a href="https://basecamp.com/books?source=SvN">our best-selling books REWORK and REMOTE</a>.
    </p>
    <p>
      Content copyright ©1999-2016 <a href="https://basecamp.com/?source=SvN">Basecamp</a>.
      Subscribe to our <a href="https://signalvnoise.com/posts.rss">RSS</a>.
    </p>
    <p>Enjoy your <span class="happyday--dayofweek">Saturday</span>.</p>
  </section>
</footer>
